.viddiv{
    
   display: flex; 
   justify-content: center;
}

.flex-video {  
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    margin-bottom: 16px;
    overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* RESPONSIVE VIDEO??? wtf seriously....