.teamrow{
    margin: auto;
    display: flex;
    -webkit-display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 80%; 
    
}

.teamrow div {
    width: 30%;
}

.teamrow div img{
    width: 80%;
    padding: 5%;
}