body{
font-family: 'Nunito', sans-serif;
background-color: 1f1f1f;
}

#container{
    margin: auto;
    padding-top: 25px;
    padding-bottom: 40px;
    width: 90%;
    min-width: 800px;
    max-width: 1200px;
}

.logo{
    height: 50px;
    padding: 0px 40px;
    transition: 0.2s;
        -moz-transition: 0.2s;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: 0.4s;
        -moz-transition: 0.4s;
    height: 90px;
    padding: 20px 0px;
}

a{
    text-decoration: none;
    color: #eee;
}

.navbar {
	padding: 0px 40px;
    
}

	.navlinks a {
		display: inline-block;
		letter-spacing: 2px;
		margin: 15px 10px;
        opacity: 0.8;
        transition: 0.2s;
        -moz-transition: 0.2s;
	}

    .navlinks .current {
		padding-bottom: 2px;
		border-bottom: 1px solid #ccc;
	}


    .navlinks a:hover {
        opacity: 1;
	}

.strip{
    padding: 20px;
    color: white;
    font-weight: 700;
    min-width: 600px;
    max-width: 1000px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(50,50,50,0.5);
}

